<div class="container">
    <h2>Qiita</h2>
    <p>Qiitaで公開している技術情報です。</p>
    <div class="articles-grid">
    
        <article class="article-card">
            <h3>ローカルLLMで翻訳してトークン節約できるのか？ダメでした😭</h3>
            <a href="https://qiita.com/kowaretyatta/items/614ab1d4137710d8b5f5" class="link" target="_blank">記事を読む →</a>
        </article>
    
        <article class="article-card">
            <h3>CISSPに合格しました</h3>
            <a href="https://qiita.com/kowaretyatta/items/a8b17843e91829cb8034" class="link" target="_blank">記事を読む →</a>
        </article>
    
        <article class="article-card">
            <h3>AIが便利になって焦らないといけないの、実はプログラマーじゃない説</h3>
            <a href="https://qiita.com/kowaretyatta/items/d032845fdada4eebb473" class="link" target="_blank">記事を読む →</a>
        </article>
    
    </div>
</div>