<div class="container">
    <h2>Zenn</h2>
    <p>Zennで公開している技術記事です。</p>
    <div class="articles-grid">
    
        <article class="article-card">
            <span style="font-size: 3em;">🥁</span>
            <p>おもちゃ箱(ポートフォリオ)を作る(Github Pages公開～htmx適用)</p>
            <a href="https://zenn.dev/nanikore/articles/139c525f4db2c3" class="link" target="_blank">記事を読む →</a>
        </article>
    
        <article class="article-card">
            <span style="font-size: 3em;">🦙</span>
            <p>CTFで学ぶ脆弱性とその対策(Daily AlpacaHack 12/25 Xmas Login)</p>
            <a href="https://zenn.dev/nanikore/articles/9411f499158ed6" class="link" target="_blank">記事を読む →</a>
        </article>
    
        <article class="article-card">
            <span style="font-size: 3em;">⛩️</span>
            <p>おもちゃ箱(ポートフォリオ)を作る(API取得、Python+Jinja2によるページ整形)</p>
            <a href="https://zenn.dev/nanikore/articles/4a46fb4b93ad77" class="link" target="_blank">記事を読む →</a>
        </article>
    
    </div>
</div>